 <div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 1</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data. By the end of this lab, you will be familiar with all methods and functions that used for preprocessing a dataset.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab we will apply the below methods for data cleaning:
<ol>
    <li><a href="#part1">Find how many records this data frame has</a></li>
    <li><a href="#part2">How many elements are there?</a></li>
    <li><a href="#part3">What are the column names?</a></li>
    <li><a href="#part4">What types of columns we have in this data frame?</a></li>
    <li><a href="#part6">Check a particular column type, Check types for all the columns</a></li>
</ol>

Estimated Time Needed: <strong>60 min</strong>
</div>

Import all required Libraries

In [1]:
#Import Python Libraries
import pandas as pd

In [3]:
#Read csv file
df = pd.read_csv("Datasets/Auto.csv")


df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [3]:
#Find how many records this data frame has
df.shape

(78, 6)

In [4]:
#How many elements are there?
df.size

468

In [5]:
#What are the column names?
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [6]:
#What types of columns we have in this data frame?
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [7]:
#Check a particular column type
df.phd.dtype

dtype('int64')

<h3 id="correct_data_format">Correct data format</h3>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

In [2]:
#Read csv file
df = pd.read_csv("Auto.csv")

In [ ]:
#Lets list the data types for each column
# method 1
df.dtypes

In [ ]:
#Method 2
df.info()

As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.

In [ ]:
#Convert data types to proper format

df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [ ]:
# Check the columns after the conversion
df.dtypes

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #1:</h1>
<b>Check types for all the columns.</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #2:</h1>
<b>Display the few first 12 records and the last 10 record.</b>
</div>


<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #3:</h1>
<b>Identify the type of df object.</b>
</div>



<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1>Question #4:</h1>
<b>List the row labels and the column names</b>
</div>